*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/*
Форма регистрации и авторизации
*/

body.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    align-items: center;
}


label{
    display: block;
    margin-bottom: 10px;
}

input{
    padding: 4px;
    width: 100%;
}

p.msg-error{
    border: 2px solid #ff9100;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    font-weight: bold;
}

p.msg-success{
    border: 2px solid #1bfa2e;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    font-weight: bold;
}

/*
Страница сайта
*/
body.with-sidebar{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

div.logo{
    font-size: 12px;
    margin-bottom: 30px;
}

aside.sidebar-menu{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    box-sizing: border-box;
}

a.btns{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.sidebar{
    background-color: #e0cbcb;
    border: 2px solid #c9c6c6;
    border-radius: 5px;
}

.sidebar-btns{
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 10px;
}
